{% extends "layout.html"%}{% block content %}


<div class="container">
    <h3 class="my-3">Add New Country</h3>
    <div class="row">
        <div class="col-6">
            <form action="/state/add" method="POST">
                <select id="inputState" name="country" class="form-control">
                    {% for country in countries %}
                    <option value="{{country.id}}">{{country.country_name}}</option>
                    {% endfor %}
                 </select>
                <input type="text" name="state_name" class="form-control my-2" placeholder="State Name">
                <input type="submit" class="btn btn-primary my-2" value="Add State">
            </form>
        </div>
    </div>
</div>

{% endblock %}