{% extends "admin/base.html" %} {% block navbar %}
<div class="navbar-wrapper">
    <a class="navbar-brand" href="javascript:void(0)">Food package Update</a>
</div>
{% endblock %} {% block content %}


<form action="{{url_for('admin_food_package_update',id=package.id)}}" method="POST" enctype="multipart/form-data">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="form-group bmd-form-group is-filled">
                {{form.package(class="form-control my-3" ,placeholder="Package",value=package.package)}} {{form.submit( class="btn btn-primary mt-3", value="Add")}}



            </div>
        </div>
    </div>
</form>


{% endblock %}