{% extends "admin/base.html" %} {% block navbar %}
<div class="navbar-wrapper">
    <a class="navbar-brand" href="javascript:void(0)">Testimonials Update</a>
</div>
{% endblock %} {% block content %}


<form action="{{url_for('admin_testimonial_update',id=testimonial.id)}}" method="POST" enctype="multipart/form-data">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="form-group form-group bmd-form-group is-filled">
                {{form.clinet_name( class="form-control my-3" ,placeholder="Client Name",value=testimonial.clinet_name)}}
            </div>
            <div class="form-group form-group bmd-form-group is-filled">
                {{form.client_testimonial(id="exampleFormControlTextarea1", class="form-control my-3" ,placeholder="Testimonial",value=testimonial.client_testimonial)}}


            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Client Photo</label> {{form.client_img(class="form-control-file", id="exampleFormControlFile1",value=testimonial.client_img)}}

            </div>
            {{form.submit( class="btn btn-primary mt-3", value="Add")}}



        </div>
    </div>
</form>


{% endblock %}